* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 100%;
	color: inherit;
	line-height: inherit;
	cursor: inherit;
	vertical-align: baseline;
}

img {
	border: 0;
}

html, body {
	background: #fff;
	font-family: sans-serif;
	font-size: 12px;
	color: #4d3c30;
	line-height: 1.6em;
	overflow: hidden;
	height: 100%;
}

div, table, thead, tbody, tfoot, th, tr, td, canvas, menu, dl, dd, dt, ul {
	border: 0 solid #606875;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
	display: block;
}

nav ul, footer ul, menu ul {
	list-style: none;
}
	nav > ul > li, footer > ul > li, menu > ul > li {
		float: left;
		margin-right: 5px;
	}

	nav > ul > li:first-child,
	footer > ul > li:first-child,
	menu > ul > li:first-child {
		margin-left: 5px;
	}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

label {
	cursor: default;
}

label + menu {
	display: none;
}

label:hover + menu, label + menu:hover {
	display: block;
	position: absolute;
	overflow: visible;
	margin-top: -3px;
	margin-left: -5px;
	padding-right: 5px;
	border-width: 1px;
}

menu {
	padding: 0 5px;
	overflow: hidden;
	background: #f9f9ff;
}
	menu:hover {
		overflow: visible;
	}

menu[type=toolbar] > li {
	list-style: none;
	float: left;
	margin-right: 5px;
	height: auto;
}
	menu[type=toolbar] > li:first-child {
		margin-left: 5px;
	}

menu[type=toolbar] {
	padding: 0;
	height: 20px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	right: 200px;
	border-width: 1px;
	overflow: visible;
	opacity: .7;
}
	#menubar button {
		background-color: transparent;
		border: 0;
		clear: both;
		display: block;
	}

ins {
	background-color: #ff9;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration:  line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;   
	border-top: 1px solid #cccccc;
	margin: .1em 0;
	padding: 0;
}

a {
	background: transparent;
}

a, button, select {
	cursor: pointer;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-webkit-image-rendering: optimizeSpeed;
	-webkit-image-rendering: -webkit-optimize-contrast;
}

._support-us * {
	text-align: center;
}
	._support-us input {
		text-align: left;
	}

[hidden] {
	display: none;
	height: 0;
	width: 0;
}

#wrapper, #content, #drawing {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#preview, #toolbox, #point-data, #cursor-data, #support-us, #links, #glyphs {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .7;
}

#glyphs {
	left: auto;
	width: 200px;
	border-width: 1px;
	background: #f9f9ff;
}
	#glyphs ul {
		position: absolute;
		top: 0;
		bottom: 26px;
		width: 100%;
		border-bottom-width: 1px;
		list-style: none;
		overflow: auto;
	}
		#glyphs ul li {
			padding-left: 5px;
			background: #f3f3fc;
			cursor: pointer;
		}

		#glyphs ul li:nth-child(2n) {
			background: #fefeff;
		}

		#glyphs ul li.focus {
			background: #eb6351;
			color: #fff;
			font-weight: bold;
		}

		#glyphs ul li input {
			border: 1px solid #000;
			background: #fff;
			outline: 0;
			color: #555;
			line-height: 1em;
		}


	#glyphs .controls {
		position: absolute;
		bottom: 0;
		height: 26px;
	}

	#glyphs .controls button {
		background: transparent;
		width: 16px;
		height: 16px;
		border: 0;
		margin: 5px 0 0 5px;
	}
		#glyphs .controls .add-glyph {
			background: url(images/add.png);
		}

		#glyphs .controls .delete-glyph {
			background: url(images/delete.png);
		}

#version {
	font-weight: bold;
	float: left;
}

#preview {
	border-width: 1px;
	width: 240px;
	height: 160px;
	top: auto;
	left: auto;
}

#toolbox {
	top: auto;
	right: auto;
	line-height: 1em;
}
	#toolbox #tool-zoom {
	}

	#toolbox #tool-select {
	}

	#toolbox #tool-edit {
	}

	#toolbox #tool-delete {
	}

#point-data {
	left: auto;
	bottom: auto;
	width: 150px;
}
	#point-data dt, #point-data dd {
		clear: none;
		display: inline-block;
	}

	#point-data dt {
		text-align: right;
		width: 45px;
		border-right: 1px solid #fdd;
		padding-right: 5px;
		color: #bbf;
	}

	#point-data dd {
		width: 100px;
		float: right;
	}


#cursor-data {
	font-size: 9px;
	top: -300px;
	right: auto;
	bottom: auto;
	text-outline: 1px 0 #fff;
}

#support-us {
	border: 0;
	top: auto;
	right: auto;
	width: 190px;
	height: 100px;
}

#clodifle {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1000;
}

#glyph {
	top: 2.5em;
	text-align: right;
}

#links {
	top: auto;
	text-align: center;
	color: #222;
}

.dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1000;
	width: 500px;
	margin: -250px;
	padding: 20px;
	background: #eee;
	text-align: right;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, .5) 0 3px 10px 1px;
	opacity: .7;
}
	.dialog textarea {
		width: 100%;
		height: 400px;
		border-radius: 3px;
	}

	.dialog p {
		float: left;
		text-align: left;
		width: 360px;
	}

	.dialog button {
		margin-left: 5px;
	}
